:root {
    --fontColor: #dbdbdb;
    --bgColor: #151515;
    --dropShadow: 189, 0, 57;
    --linkColor: #ff0051;
    --linkHover: #ff6699;
    --navColor: #ff0051;
    --shadow1: #000;
    --shadow2: #ff0051;
    --shadow3: #bd0039;
    --hrColor: #888888;
    --h2Color: #888888;
    --headColor: #110d0f;
    --h1Gradient1: 255, 0, 81;
    --h1Gradient2: 189, 0, 57;
}

/* Rubik regular */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url('https://assets.vivwebz.net/Rubik-Regular.ttf') format('truetype');
    unicode-range: U+0400-04FF, U+0500-052F;
}

@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url('https://assets.vivwebz.net/Rubik-Bold.ttf') format('truetype');
    unicode-range: U+0400-04FF, U+0500-052F;
}

/* latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.vivwebz.net/lexend-latin-400-normal.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.vivwebz.net/lexend-latin-ext-400-normal.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url("https://assets.vivwebz.net/lexend-latin-700-normal.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    src: url("https://assets.vivwebz.net/lexend-latin-ext-700-normal.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    background-color: #000000;
    background-image: url("https://tetra.vivwebz.net/assets/images/bg-stars.gif");
    background-repeat: repeat;
    animation: diagonalScroll 40s linear infinite;
    color: var(--fontColor);
    font-family: 'Lexend', 'Rubik', Arial, sans-serif;
    font-size: 16px;
    font-size: 0.9em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes diagonalScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.site-center {
    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.posts-vertical {
    width: 1080px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

header {
    margin-bottom: 0.4em;
    font-weight: 600;
}

.top {
    color: var(--navColor);
    text-shadow:
        1px 1px 2px var(--shadow1),
        0 0 25px var(--shadow2),
        0 0 5px var(--shadow3);
    font-size: 1.3em;
    text-align: right;
    font-style: italic;
    margin-bottom: 0.4em;
}

.post {
    background: var(--bgColor);
    width: 100%;
    margin-bottom: 0.4em;
}

.post h1 {
    background: linear-gradient(
        90deg,
        rgba(var(--h1Gradient1), 0.7) 10%,
        rgba(var(--h1Gradient2), 0.6) 60%,
        rgba(0, 0, 0, 0) 90%
    );
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1.1em;
    font-weight: 600;
    position: relative;
}

.post h2 {
    color: var(--h2Color);
    font-size: 1em;
    margin: 0.8em;
    font-weight: 600;
}

.post-date {
    margin: 0.8em;
    color: var(--h2Color);
    font-size: 1em;
}

.post-content {
    margin: 0.8em;
    padding-bottom: 0.8em;
}

.post-content p,
.post-content a,
.post-content strong,
.post-content em {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.post-content p {
    margin: 0.8em;
}

.post-content img:not(.emoji) {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.post-content a {
    color: var(--linkColor);
    text-decoration: none;
    transition: text-shadow 0.15s ease-in-out;
    font-weight: bold;
}

.post-content a[href][target="_blank"]:has(img) {
    display: block;
    width: fit-content;
    margin: 0.8em auto;
    font-weight: normal;
}

.post-content strong {
    font-weight: 700;
}

.post-content em {
    font-style: italic;
}

.post-content img:not(.emoji):hover {
    transform: scale(1.05) rotate(1deg);
}

.post-content a:visited {
    color: var(--linkColor);
}

.post-content a:hover {
    color: var(--linkHover);
    text-shadow: 0 0 5px var(--linkColor);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.post-content a:active {
    color: var(--linkHover);
}

/* Custom emoji support */
.emoji {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    object-fit: contain;
    transition: transform 0.3s ease;
    margin: 0 0.1em;
    cursor: default;
}

.emoji:hover {
    transform: scale(1.3) rotate(2deg);
}

.post h1 .emoji {
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
}

@media only screen and (max-width: 1100px) {
    .posts-vertical {
        width: 100%;
        margin: 0.4em;
    }
}
